{% extends 'layout_dashboared.html.twig' %}

{% block content %}
    <div class="card mt-4">
        <div class="card-header bg-primary text-white">
            <h5>
                <i class="bx bx-user-plus me-2"></i> Add New Student
            </h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.nom, 'Nom') }}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Enter Last Name'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.prenom, 'Prénom') }}
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Enter First Name'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.email, 'Email') }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'example@domain.com'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.telephone, 'Téléphone') }}
                        {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'placeholder': '+123456789'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.birthday, 'Date de Naissance') }}
                        {{ form_widget(form.birthday, {'attr': {'class': 'form-control', 'placeholder': 'YYYY-MM-DD'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.password, 'password') }}
                        {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Enter password'}}) }}
                    </div>
                </div>



            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">
                    <i class="bx bx-save me-1"></i> Save Student
                </button>
                <a href="{{ path('app_etudiant_index') }}" class="btn btn-secondary">Cancel</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
