{% extends 'base.html.twig' %}

{% block body %}
    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <h2>{{ event.titreevets }}</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-7 ">
                    <div class="meeting-single-item">
                        <div class="thumb">
                            <div class="price">
                                <span>{{ event.typeEvents|default('General Event') }}</span>
                            </div>
                            <div class="date">
                                <h6>{{ event.dateDebut|date('M') }} <span>{{ event.dateDebut|date('d') }}</span></h6>
                            </div>
                            <img src="{{ asset('images/' ~ (event.image|default('meeting-02.jpg'))) }}" alt="Event Image">
                        </div>
                        <div class="down-content">
                            <h4>{{ event.titreevets }}</h4>
                            <p><strong>Location:</strong> {{ event.lieu }}</p>
                            <p class="description">
                                {{ event.description }}
                            </p>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="hours">
                                        <h5>Start Date</h5>
                                        <p>{{ event.dateDebut|date('Y-m-d') }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="hours">
                                        <h5>End Date</h5>
                                        <p>{{ event.dateFin|date('Y-m-d') }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="main-button-red">
                                        <a href="{{ path('app_page_event') }}">Book now</a>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="share">
                                        <h5>Share:</h5>
                                        <ul>
                                            <li><a href="#">Facebook</a></li>
                                            <li><a href="#">Twitter</a></li>
                                            <li><a href="#">LinkedIn</a></li>
                                            <li><a href="#">Behance</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-button-red">
                        <a href="{{ path('app_page_event') }}">Back To Events List</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>&copy; 2024 Esprit.com, Ltd. All Rights Reserved.</p>
        </div>
    </section>
{% endblock %}
